<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    {{> "systems/afmbe-jesuisfrog/templates/components/item-sheet-header.hbs"}}

    <section>
        <div class="description-container">
            <div class="item-attribute-sidebar">
                <h2>Attributes</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>Equipped</th>
                            <td>
                                <div class="item-attribute-flex-container">
                                    <input type="checkbox" name="system.equipped" {{checked item.system.equipped}}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Quantity</th>
                            <td><input type="text" name="system.qty" value="{{item.system.qty}}"></td>
                        </tr>
                        <tr>
                            <th>Armor Value</th>
                            <td><input type="text" name="system.armor_value" value="{{item.system.armor_value}}"></td>
                        </tr>
                        <tr>
                            <th>EV</th>
                            <td><input type="number" name="system.encumbrance" value="{{item.system.encumbrance}}"></td>
                        </tr>
                        <tr>
                            <th>Cost</th>
                            <td><input type="number" name="system.cost" value="{{item.system.cost}}"></td>
                        </tr>
                        <tr>
                            <th>Availability</th>
                            <td>
                                <select name="system.availability" data-type="String">
                                    {{#selectOptions item.system.availabilityOptions selected=item.system.availability}}
                                    {{/selectOptions}}
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{> "systems/afmbe-jesuisfrog/templates/components/item-description-sidebar.hbs"}}
        </div>
    </section>
</form>
