<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <div class="sheet-flex-container">
        <div class="sheet-sidebar">
            <div class="header-container">
                <div class="polaroid-container">
                    <img class="polaroid" src="systems/afmbe-jesuisfrog/images/polaroid.png">
                    <img class="profile-img" data-edit="img" src="{{actor.img}}">
                    <div class="sheet-nav-container" hidden>
                        <nav class="sheet-nav sheet-tabs tabs" data-group="primary">
                            <a class="item" data-tab="core">Core</a>
                        </nav>
                    </div>
                    <div class="profile-tags-container">
                        <div class="tags-flex-container"></div>
                    </div>
                </div>
                <div class="header-info-container">
                    <div class="info-container">
                        <h1>
                            <input class="charname" type="text" name="name" value="{{actor.name}}" placeholder="Name">
                        </h1>
                        <div class="attribute-container">
                            <h2 id="attributes-header">
                                <div>Primary Attributes</div>
                            </h2>
                            <div class="resource-container">
                                <div class="resource">
                                    <button type="button" class="no-focus">Weight</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="system.weight" value="{{actor.system.weight}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button" class="no-focus">Speed</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="system.speed" value="{{actor.system.speed}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button" class="no-focus">Acceleration</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="system.acceleration"
                                            value="{{actor.system.acceleration}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button" class="no-focus">Range</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="system.range" value="{{actor.system.range}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button" class="no-focus">Toughness</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="system.toughness" value="{{actor.system.toughness}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button" class="no-focus">Handling</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="system.handling" value="{{actor.system.handling}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button" class="no-focus">Damage Cpty</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="system.damage_capacity"
                                            value="{{actor.system.damage_capacity}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button" class="no-focus">Armor Value</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="system.armor_value"
                                            value="{{actor.system.armor_value}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button" class="no-focus">Accuracy</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="system.accuracy" value="{{actor.system.accuracy}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button" class="no-focus">Cost</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="system.cost" value="{{actor.system.cost}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button type="button" class="no-focus">Availability</button>
                                    <div class="resource-values attribute">
                                        <select  name="system.availability" data-type="String">
                                            {{#selectOptions actor.system.availabilityOptions selected=actor.system.availability}}
                                            {{/selectOptions}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="sheet-body">

            {{!-- Core Tab --}}
            <div class="tab core" data-group="primary" data-tab="core">
                {{> "systems/afmbe-jesuisfrog/templates/components/biography.hbs"}}

                {{> "systems/afmbe-jesuisfrog/templates/components/weapons.hbs"}}

                {{> "systems/afmbe-jesuisfrog/templates/components/items.hbs"}}

            </div>

        </section>
    </div>
</form>