<div class="character-details-container">
    <h2>Details</h2>
    <div class="character-details">
        <div class="character-detail">
            <label class="detail-label">Age</label>
            <input type="number" name="system.bio.age" value="{{actor.system.bio.age}}">
        </div>
        <div class="character-detail">
            <label class="detail-label">Eyes</label>
            <input type="text" name="system.bio.eyes" value="{{actor.system.bio.eyes}}">
        </div>
        <div class="character-detail">
            <label class="detail-label">Gender</label>
            <input type="text" name="system.bio.gender" value="{{actor.system.bio.gender}}">
        </div>
        <div class="character-detail">
            <label class="detail-label">Hair</label>
            <input type="text" name="system.bio.hair" value="{{actor.system.bio.hair}}">
        </div>
        <div class="character-detail">
            <label class="detail-label">Height</label>
            <input type="text" name="system.bio.height" value="{{actor.system.bio.height}}">
        </div>
        <div class="character-detail">
            <label class="detail-label">Weight</label>
            <input type="text" name="system.bio.weight" value="{{actor.system.bio.weight}}">
        </div>
    </div>
    <div class="contacts-container">
        <h2>Contacts</h2>
        {{editor actor.system.bio.contacts target="system.bio.contacts" button=true owner=owner
        editable=editable}}
    </div>
</div>