<div class="attribute-container">
    <h2 id="attributes-header">Primary Attributes</h2>
    <div class="resource-container">
        <div class="resource">
            <button class="attribute-roll" type="button" data-attribute-name="Strength">Strength</button>
            <div class="resource-values attribute">
                <input type="number" name="system.strength.value" value="{{actor.system.strength.value}}">
            </div>
        </div>
        <div class="resource">
            <button class="attribute-roll" type="button" data-attribute-name="Dexterity">Dexterity</button>
            <div class="resource-values attribute">
                <input type="number" name="system.dexterity.value" value="{{actor.system.dexterity.value}}">
            </div>
        </div>
        <div class="resource">
            <button class="attribute-roll" type="button" data-attribute-name="Constitution">Constitution</button>
            <div class="resource-values attribute">
                <input type="number" name="system.constitution.value" value="{{actor.system.constitution.value}}">
            </div>
        </div>
        <div class="resource">
            <button class="attribute-roll" type="button" data-attribute-name="Intelligence">Intelligence</button>
            <div class="resource-values attribute">
                <input type="number" name="system.intelligence.value" value="{{actor.system.intelligence.value}}">
            </div>
        </div>
        <div class="resource">
            <button class="attribute-roll" type="button" data-attribute-name="Perception">Perception</button>
            <div class="resource-values attribute">
                <input type="number" name="system.perception.value" value="{{actor.system.perception.value}}">
            </div>
        </div>
        <div class="resource">
            <button class="attribute-roll" type="button" data-attribute-name="Willpower">Willpower</button>
            <div class="resource-values attribute">
                <input type="number" name="system.willpower.value" value="{{actor.system.willpower.value}}">
            </div>
        </div>
    </div>
</div>