<div class="attribute-container">
    <h2>Secondary Attributes</h2>
    <div class="resource-container">
        <div class="resource">
            <button type="button" class="reset-resource" data-resource="hp">Life Points</button>
            <div class="resource-values secondaryAttribute">
                <input type="number" name="system.secondaryAttributes.hp.value"
                    value="{{actor.system.secondaryAttributes.hp.value}}">
                /
                <div>{{actor.system.secondaryAttributes.hp.max}}</div>
            </div>
        </div>
        <div class="resource">
            <button type="button" class="reset-resource" data-resource="endurance_points">Endurance</button>
            <div class="resource-values secondaryAttribute">
                <input type="number" name="system.secondaryAttributes.endurance_points.value"
                    value="{{actor.system.secondaryAttributes.endurance_points.value}}">
                /
                <div>{{actor.system.secondaryAttributes.endurance_points.max}}</div>
            </div>
        </div>
        <div class="resource">
            <button type="button" class="reset-resource" data-resource="essence">Essence
                Pool</button>
            <div class="resource-values secondaryAttribute">
                <input type="number" name="system.secondaryAttributes.essence.value"
                    value="{{actor.system.secondaryAttributes.essence.value}}">
                /
                <div>{{actor.system.secondaryAttributes.essence.max}}</div>
            </div>
        </div>
        <div class="resource">
            <button type="button" class="no-focus">Speed</button>
            <div class="resource-values secondaryAttribute">
                <div>{{actor.system.secondaryAttributes.speed.value}}mph</div>
                <div>[{{actor.system.secondaryAttributes.speed.halfValue}}m/sec]</div>
            </div>
        </div>
        <div class="resource">
            <button type="button" class="no-focus">Initiative</button>
            <div class="resource-values secondaryAttribute">
                <div>{{actor.system.secondaryAttributes.initiative.value}}</div>
            </div>
        </div>
    </div>
</div>